#details-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: left;
    width: 90%;
}

#container{
display: flex;
justify-content: space-between;
}

#main-image{
    width: 500px;
    height: 400px;
    padding: 4px;
}

.detail-images{
    width: 200px;
    height: 200px;
    padding: 2px 4px;
}

#smaller-images{
    width: 34%;
}

#image-container{
    display: flex;
    width: fit-content;
}



#review-box{
    display: flex;
    align-self: center;
    margin: 40px;
}

#reserve-div p{
    width: 250px;
}

#reserve-button{
    width: 50%;

}

#spot-description{
    font-size: small;
}

#reviews-container{
    display: flex;
    align-items: center;
    font-size: medium;
}

#reviews-h2{
    gap: 20px;

}

#star2{
    font-size: large;
}



