ul.profile-dropdown.hidden {
  display: none;
}

#nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 100;
  padding: 0px;
  background: linear-gradient(0.25turn, #3f87a6, #ffffff, #f69d3c);
  margin: 0px;
  width: fit-content;
  list-style-type: none;
  border-bottom: 1px solid gray;
}

div > #nav-ul {
  width: 100%;
}

#profile {
  margin-right: 20px;
}

#logo {
  width: 50px;
  margin-left: 10px;
  border-radius: 50%;

}

#logo:hover {
  cursor: pointer;
}

#user-nav {
  width: 30px;
  height: 30px;
  font-size: larger;
}

#profile-info {
  border-bottom: 1px solid black;
}

#user-info {
  margin: 20px 0px;
  border-bottom: 1px solid black;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

ul.profile-dropdown.show {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

#logout {
  display: flex;
  width: 80%;
  align-self: center;
}

#profile-button {
  font-size: x-large;
  background-color: transparent;
  border: none;
  width: 50px;
  display: flex;
  align-items: center;
  margin: 0;
}

#profile-button:hover {
  cursor: pointer;
}

li {
  display: flex;
  align-items: center;
}

#create-spot {
  width: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  text-decoration: none;
  color: white;
}

ul {
  padding: none;
}

#log-button1 {
  margin: 10px 0px;
}

#log-button1:hover {
  color: blue;
  cursor: pointer;
}
