ul.profile-dropdown.hidden {
  display: none;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 90%;
  list-style-type: none;
}

img{
  width: 9%;
  border: 1px solid transparent;
  border-radius: 50%;
}

#user-nav {
  width: 30px;
  height: 30px;
  font-size: larger;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
 
}

ul.profile-dropdown.show {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}



#logout{
  display: flex;
  width:80%;
  align-self: center;

}

#profile-button{
  font-size: x-large;
  background-color: #c0ae8e;
  border: none;
}

#profile-button:hover{
  cursor: pointer;
}

li{
display: flex;
align-items: center;
}
