div.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);

  padding: 10% 20% 10%;
  width: 200px;
  height: fit-content;
  font-family: "Righteous", serif;
  font-weight: 400;
  font-style: normal;
  border: 3px solid black;

}

form {

  display: flex;
  flex-direction: column;
  height: fit-content;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 0%;
  font-size: xx-large;
  font-family: "Righteous", serif;
  font-weight: 400;
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  width: auto;
}

label {
  display: flex;
  flex-direction: column;
  padding: 4%;
  overflow-y: hidden;
  align-self: auto;
}

input {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
}

.demo-button{
  width: fit-content;
}

button {
  display: flex;

  flex-direction: column;

  margin-top: 5%;
  margin-left:20px;
  /* padding: 3%; */


  font-family: "Righteous", serif;
  font-weight: 400;
  font-style: normal;
  border: 3px solid black;
}

p {
  font-family: "Righteous", serif;
  font-weight: 400;
  font-style: normal;
}

#login-errors{
  color: red;
  width: 100%;
align-self: center;
}
